.footer {
  padding-top: 10px;
  background-color: black;
  grid-area: footer;
  min-height: $altura-footer;
}

.footer-sm {
  background-color: #212121;
  color: white;

  a {
    color: white;
    i {
      font-size: 1rem;
      margin-left: 1rem;
    }
  }
}

.footer-sm__icons {
  text-align: center;
  padding: 2px 0;
}

.footer-bottom {
  padding: 2px 0;
}

.footer-bottom__copyright {
  text-align: center;
  color: gray;
  font-weight: 400;
}
